@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-height: 66px;
    --club-blue: #0da9fd;
    --club-blue-hover: #0d89fd;
}

/*
Main Tags
*/

body {
    font-family: 'Exo 2', sans-serif;
    scroll-behavior: smooth;
    background-color: #f5f7ff;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    margin-top: calc(var(--header-height) + 5px);
}

header {
    top: 0;    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
    background-color: #bfc4d9;
    /*Just to keep it consistent I guess*/
    margin-top: var(--header-height);
}

/*
Header
*/

#header-anchor {
    margin-top: var(--header-height);
}

.nav-link {
    font-size: 1.1em;
    font-weight: 600;
}

.nav-link:hover {
    color: var(--club-blue-hover) !important;
}

/*
Footer
*/

footer a {
    text-decoration: none;
}

/*
Misc
*/

.text-club-blue {
    color: var(--club-blue)
}