/*Greeting Card*/

.greeting-card {
    background: url('/assets/images/club_background.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-arrow {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.down-arrow:hover {
    transform: translateY(10px) !important;
    color: #acb4bd !important;
}

#scroll-to {
    scroll-margin-top: var(--header-height);
}

@media only screen and (min-width: 550px) {
    .greeting-card-text-container h1 {
        font-size: calc(1.5rem + 3vw);
    }
}

/*
Main Section
*/

.main-img {
    border-radius: 15px;
}

/*
Misc
*/

.section-list {
    padding-left: 1.2rem;
}

.section-list * {
    font-size: 1.15rem;
    margin-bottom: 0.75em;
}